<!doctype html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>modern project</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
        <!-- Place favicon.ico and apple-touch-icon.png in the root directory -->
        <!-- build:css styles/vendor.css -->
        <!-- bower:css -->
        <!-- endbower -->
        <!-- endbuild -->
        <!-- build:css(.tmp) styles/main.css -->
        <link rel="stylesheet" href="styles/libs/bootstrap/bootstrap.css">
        <link rel="stylesheet" href="styles/main.css">
        <!-- endbuild -->
    </head>
    <body>
    <div class="main">
        <div class="col-md-9">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Products manager</h3>
                </div>
                <div class="btn-group">
                    <div class="btn btn-primary btn-sm" onclick="productModel.export()">Export to JSON</div>
                    <div class="btn btn-primary btn-sm" onclick="productModel.onAddProduct()">Add product</div>
                </div>
                <div id="view" class="panel-body"></div>
            </div>
        </div>
        <div class="col-md-3">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">Exported JSON</h3>
                </div>
                <div id="viewExported" class="panel-body"></div>
            </div>
        </div>
    </div>  

    <script type="text/template" id="product-list-tpl">
          <thead>
            <tr>
              <th>Title</th>
              <th>Sku</th>
              <th>Price</th>
              <th>Actions</th>
            </tr>
          </thead>
          <tbody id="products-table-body">
            
          </tbody>
    </script>

    <script type="text/template" id="product-list-item-tpl">
          <td><%= title %></td>
          <td><%= sku %></td>
          <td><%= price %></td>
          <td class="actions">
              <div class="btn btn-primary" onclick="productModel.onEdit(<%= sku %>)">edit</div>
              <div class="btn btn-warning" onclick="productModel.onRemove(<%= sku %>)">delete</div>
          </td>
    </script>

        <!-- build:js scripts/vendor.js -->
        <!-- bower:js -->
        <script src="bower_components/jquery/dist/jquery.js"></script>
        <script src="bower_components/underscore/underscore.js"></script>
        <script src="bower_components/backbone/backbone.js"></script>
        <script src="bower_components/marionette/lib/backbone.marionette.js"></script>
        <script src="bower_components/requirejs/require.js"></script>
        <!-- endbower -->
        <!-- endbuild -->

        <!-- build:js scripts/main.js -->
        <script src="scripts/main.js"></script>
        <!-- endbuild -->
</body>
</html>
