
<form id="editForm">
  <div class="form-group">
    <label for="inputTitle" class="control-label">Title</label>
    <div>
      <input type="text" name="title" id="inputTitle" class="form-control" placeholder="title" value="{{title}}"/>
    </div>
  </div>
  
  <input type="text" name="sku" class="form-control" placeholder="sku" value="{{sku}}" disabled/>
  <input type="text" name="price" class="form-control" placeholder="price" value="{{price}}"/>
</form>
<div class="actions">
    <div class="btn btn-primary" onclick="productModel.onSaveEdit({{sku}}, $('form').serializeArray())">save</div>
    <div class="btn btn-warning">cancel</div>
</div>
