<tr>
      <td>{{title}}</td>
      <td>{{sku}}</td>
      <td>${{price}}</td>
      <td class="actions">
          <div class="btn btn-primary edit-product">edit</div>
          <div class="btn btn-warning remove-product">delete</div>
      </td>
</tr>